<%= stylesheet_link_tag 'sentences', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'sentences/edit', 'data-turbolinks-track': 'reload' %>
<div id='sentences'><div id='sentences__edit'></div></div>