<%= stylesheet_link_tag 'sentences', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'sentences/new', 'data-turbolinks-track': 'reload' %>
<div id='sentences'><div id='sentences__new'></div></div>